$blueprint_grid_columns: 7;
$blueprint_grid_width: 100px;

@import "compass/reset";
@import "blueprint";

$rubyred: #D52100;
$lightgrey: #4D4D4D;
$logo_img: "ruby.png";
$content_font: Helvetica, Arial, sans-serif;
$title_font: Lora, Georgia, Times, serif;

body {
  margin-top: 1.0em;
  background-color: #ffffff;
  font-family: $content_font;
  color: #000000;
}

#layout {
  @include container;
  
  #sidebar {
    @include column(3);
  }
  
  #content {
    @include column(4, true);
  }
}

h1 {
  font-family: $title_font;
  font-size: 3.8em;
  color: $rubyred;
  margin-bottom: 3px;
}

h2 {
  font-family: $title_font;
  font-size: 1.9em;
  color: $rubyred;
  margin-bottom: 10px;
}

a {
  color: $rubyred;
  text-decoration: none;
}

p {
  margin: 15px 0;
}

.date {
  font-family: $content_font;
  font-style: italic;
  font-size: 0.8em;
  color: $lightgrey;
}

.logo {
  background: image-url($logo_img) no-repeat;
  width: image-width($logo_img);
  padding-top: image-height($logo_img);
  text-decoration: none;
}

.description {
  font-size: 1.2em;
  margin-bottom: 30px;
  margin-top: 30px;
  font-style: italic;
}

.archives {
  margin-bottom: 30px;
  margin-top: 10px;
  
  li {
    margin-bottom: 5px;
  }

  a:hover {
    color: $rubyred;
    text-decoration: underline;
  }

  .post_title {
    margin-left: 10px;
  }

  .past_dated .post_title {
    color: $lightgrey;
  }
}

.post {
  line-height: 1.4em;
  
  ul { margin-left: 1.4em; }
  
  li { list-style-type: disc; }
  
  em { font-style: italic; }
  
  strong { font-weight: bold; }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

