---
layout: default
title: Riviera Ruby Group
---

<div id="teaser">
  <div id="description">
    <div class="desc">
      <p>The <em>Riviera Ruby Group</em> organizes
      monthly drink-ups at Sophia Antipolis.</p>
      <p>On the first Tuesday of the month, join us at 6:30pm at the
      <a href="http://www.openstreetmap.org/?lat=43.618463&lon=7.0753385&zoom=18&layers=M&mlat=43.61858&mlon=7.07508">Green King</a> and
      enjoy two mini-talks on various subjects while having a drink with
      the Ruby community of the French Riviera.</p>
    </div>
  </div>
  <div id="photos">
    <a href="https://picasaweb.google.com/105002702757113217787/RubyDrinkUpSophia?authuser=0&feat=directlink">
      <div class="slideshow">
        <img src="https://lh6.googleusercontent.com/-wjbgMZwcSOQ/Tmylf3_Sw3I/AAAAAAAABlo/gZM2YdJR-9Q/s288/IMG_2915.jpg"/>    
        <img src="https://lh6.googleusercontent.com/-L0Zlp2eirr0/TmylpRe0HAI/AAAAAAAABmM/pXSOXO_FdJs/s288/IMG_2929.jpg"/>
        <img src="https://lh3.googleusercontent.com/-kRKeSqboT6k/TmyliDi2GqI/AAAAAAAABlw/Gv6G351MXTY/s288/IMG_2920.jpg"/>
        <img src="https://lh6.googleusercontent.com/-2K205mpAWko/Tm0uDWTvl0I/AAAAAAAABmQ/bQm3QwrqTeU/s288/2011-07-26%25252020.08.09.jpg"/>
      </div>
    </a>
  </div>
</div>

<div id="categories">
  <h2>Events</h2>
  <ol class="archives">
  {% for post in site.categories.events offset: 0 limit: 9999 %}
    <li class="{% if post.date < site.time %}past_dated{% endif %}">
      <a href="{{ post.url }}">
        <span class="date">{{ post.date | date: '%Y-%m-%d' }}</span>
        <span class="post_title">{{ post.title }}</span>
      </a>
    </li>
  {% endfor %}
  </ol>

  <h2>News</h2>
  <ol class="archives">
  {% for post in site.categories.news offset: 0 limit: 9999 %}
    <li>
      <a href="{{ post.url }}">
        <span class="date">{{ post.date | date: '%Y-%m-%d' }}</span>
        <span class="post_title">{{ post.title }}</span>
      </a>
    </li>
  {% endfor %}
  </ol>
</div>
