<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }} - Riviera.rb</title>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link href="/stylesheets/simple.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/screen.css" media="screen and (min-width: 980px)" rel="stylesheet" type="text/css" />
  <!--[if IE]>
    <link href="/stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script type="text/javascript" src="http://malsup.github.io/jquery.cycle.all.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        $('.slideshow').cycle({ fx: 'fade' });
    });
  </script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24962214-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div id="layout">
    <div id="sidebar">
      <a href="/"><h1 class="logo">Riviera.rb</h1></a>
      <ul class="contact">
        <li>Contact us at <a href="mailto:contact@rivierarb.fr">contact@rivierarb.fr</a></li>
        <li>Follow <a href="http://twitter.com/rivierarb">@rivierarb</a> on Twitter</li>
        <li>Register on <a href="http://www.meetup.com/Riviera-Ruby-Group/">Meetup.com</a></li>
      </ul>
    </div>
    <div id="content">
      {{ content }}
    </div>
    <div id="copyright">
      Copyright photos courtesy of Maxime Menant, Muriel Salvan and Emmanuel Bastien
    </div>
  </div>
</body>
</html>
