<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }} - Riviera.rb</title>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24962214-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
  <div id="layout">
    <div id="sidebar">
      <a href="/"><h1 class="logo">Riviera.rb</h1></a>
      <div class="description">
        Riviera Ruby Group
      </div>
      <p><a href="mailto:contact@rivierarb.fr">contact@rivierarb.fr</a></p>
    </div>
    <div id="content">
      {{ content }}
    </div>
  </div>
</body>
</html>
